*{
    padding: 0%;
    margin: 0%;
}
html{
    height: auto;
    width: 100vw;
    
}
header{
    height: 20vh;
    width: 100vw;
    background-color: #6578C1;
}
nav{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    font-size: 70px;
    background: none;
    border: none;
    padding: 20px;
    color: white;
}
main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1F2029;
}
.global{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
li{
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 10px;

}
.cartes{
    width: 28vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px;
   
    border-top: solid white 2px;
    border-left: solid white 2px;
   
    
}
.like{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartes:hover{
    background-color: #344671;
   
}